.secondhalf-container{
    margin: auto !important;
    margin-top: 25px !important;
    width: 90% !important;
    height: 90vh !important;
    background-color: white !important;
}
.resumeheader{
    margin: 15px;
    border-bottom: 2px solid black;
    text-align: center;
}
.aligh-center{
    margin-top: 10px !important;
    margin-left: auto;

}
.resumebody{
margin-left: 15px;
}
.edu{
    display: inline-block;
    width: 50%;
}