
@media (min-width: 768px) {
  .h-md-100 { height: 100vh; }
}
.btn-round { border-radius: 30px; }
.bg-indigo { background: indigo; }
.text-cyan { color: #35bdff; }

.list-group{
  margin-left: 3rem !important;
  margin-right: 3rem !important;
  margin-top: 50px !important;
  margin-bottom: 30px !important;
}
.list-group-item.list-group-item-action {
  height: 10vh;
  margin-top: 15px;
  border-radius: inherit !important;
}
.list-group-item{
  text-align: center !important;
  vertical-align: middle !important;
  font-size: 25px !important;
}
.first-half-heading{
  text-align: center !important;
  color: #8D2828 !important;
  margin-top: 20px !important;
}
.margin-set{
  margin-top: 20px !important;
}
